.btns {
  padding: 0.5rem 1rem;
  border: 1px solid rgb(189, 90, 189);
  border-radius: 10px;
  background: var(--gradient);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
  box-shadow: 0 0 3px white;
  margin: 1rem;
}

.btns:hover {
  filter: hue-rotate(250deg);
}
