h1 {
  font-size: 2.5rem;
  background: -webkit-linear-gradient(rgb(207, 107, 207), violet);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(189, 90, 189);
}

h2 {
  font-size: 1rem;
  font-weight: lighter;
  padding: 1rem;
  color: maroon;
  text-shadow: 0 0 8px white;
  font-weight: bold;
}

/* Volume button */
.soundOff {
  background-image: url('../designs/volume-xmark-solid.svg');
  background-repeat: no-repeat;
  width: 20px;
  height: 18px;
  filter: invert(100%);
  background-color: transparent;
  border: none;
}

.soundOn {
  background-image: url('../designs/volume-high-solid.svg');
  background-repeat: no-repeat;
  width: 20px;
  height: 18px;
  filter: invert(100%);
  background-color: transparent;
  border: none;
}
