@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

body {
  background-image: url(./designs/bk.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  font-family: 'Inconsolata', monospace;
  margin: 0 auto;
  text-align: center;
}

.mainContainer {
  background-color: rgb(255, 255, 255, 0.3);
  backdrop-filter: blur(2px);
  padding: 1rem 0;
}
